@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

body{
    font-family:  "Reddit Mono", monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background: rgb(0,0,0);
    background: rgb(34, 33, 33);
    color: wheat;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding-left: 25%;
    padding-right: 25%;
    width: auto;
    height: 2rem;
    background-color: rgb(58, 57, 57);
}